body{
    position: relative;
    background: linear-gradient(180deg, #1CD0F8 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, rgba(249, 249, 249, 0) 0%, #FF1D1D 81.77%);
    height: 510px;
    
}
.titulo{
    position: absolute;
    font-family: Roboto;
    font-style: normal;
    left: 60px;
    top: 14px;

}
.marco-icono{
    position: absolute;
    background: white;
    border: white solid 1px;
    border-radius: 40px;
    bottom: 50px;
    width: 240px;
    height: 290px;
    left: 24px;   
    top: 70px;
}
.icono{
    position: absolute;
    left: 60px;
    top:68px;
    
}
.registro-boton{
    background:  #5BCFF4;
    position: absolute;
    font-family: Roboto;
    font-style: normal;
    border: 2px solid #0500FF;
    padding: 8px 18px;
    box-sizing: border-box;
    border-radius: 20px;
    top: 390px;
    left:92px;
}  

.registro{
    color: black;
    font-family: Roboto;
    font-style: normal;
}
.espacio{
    position: absolute;
    font-family: Roboto;
    font-style: normal;
    top: 420px;
    left:144px;
    
}
.sesion{
    position: absolute;
    color: black;
    font-family: Roboto;
    font-style: normal;
    top: 458px;
    left:92px;
    font-weight: 500px;
    font-size: 20px;
    line-height: 35px;
}